.filme-info{
    display: flex;
    flex-direction: column;
    max-width: 800px;

    
}

.filme-info img{
    border-radius: 20px;

    
}


.filme-info button {
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 7px;
    border: 0;
    font-size: 20px;
    outline: none;
    padding: 10px 20px;
    transition:  all .5s ;
    background-color: gray;
}


.filme-info button:hover{
    background-color: brown;
    color: white;
}

.filme-info a{
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: all .5s;


}

.filme-info a:hover{
    background-color: brown;
    color: white;
}

.filme-info h1{
    text-align: center;
    margin: 10px 0;
}

.filme-info h3{
    text-align: center;
    margin: 10px 0 ;
}
.filme-info p {
    text-align: justify;
}

.botoes{
    
    margin: 0 auto;
}


@media screen and (max-width: 768px){
    .filme-info{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        width: 100%;
    }
    .filme-info p {
        text-align: justify;
        max-width: 475px;
        width: 100%;
    }

    .filme-info button {
        
        background-color: brown;
    }

    .filme-info a{
        background-color: brown;
    }
    

}