.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}



.lista-filmes{
    margin: 15px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: white;
  
   
    border-radius: 5px;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
}


.lista-filmes img{
    width:800px;
    max-height: 350px;
    
}


.lista-filmes article a {
    text-decoration: none;
    color: white;
    background-color: brown;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


@media screen and ( max-width: 768px){
    .lista-filmes img{
        width: 500px;
        padding: 0 2%;
    }


    .lista-filmes article a {
        width: 96%;
     
    }

}